body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            background-image: url(bg.jpg);
            background-size: cover;
            background-attachment: fixed;
        }

        .navbar {
            background: linear-gradient(to right, gray, black);
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            width: 98%;
            border-radius: 40px;
            border: 2px solid violet;
        }

        .navbar a {
            font-family: Arial, sans-serif;
            font-weight: bold;
            color: white;
            text-decoration: none;
            margin-right: 0px;
            padding: 10px;
        }

        .navbar a:hover {
            color: violet;
            text-decoration: underline;
        }

        .container {
            background: rgba(255, 255, 255, 0.8);
            text-align: center;
            margin: 30px auto;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            height: 1300px;
            display: flex;
            flex-direction: column;
            align-items: center; /* Center content horizontally in the container */
        }

        .team-standings-container {
            background: gray;
            color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            margin-top: 20px; 
        }

        .navbar img {
            width: 40px;
            height: auto;
            margin-right: 0;
        }

        h1 {
            font-size: 36px;
            color: #333;
        }

        p {
            font-size: 24px;
            color: #333;
        }

