/* Common styles for both phone and desktop */
body {
  background-image: url(Dame.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 280px;
  margin-top: -60px;
  padding: 0;
  background-color: #333;
  color: white;
}

@media only screen and (max-width: 600px) {
  /* Styles for screens smaller than 600px (e.g., phones) */
  #countdown-header {
    /* Adjust styles for smaller screens */
  }

  .selected-players-container,
  .game-list-container,
  .game-list-container2 {
    border: 2px solid #007BFF;
    padding: 10px;
    margin-top: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 90%; /* Adjust the width for smaller screens */
    background-color: #111;
    border: 1px solid #444;
    border-radius: 5px;
    margin-left: 5%; /* Center the containers on smaller screens */
    padding: 10px;
    display: inline-block;
  }

  .selected-players-container h2,
  .game-list-container h2,
  .game-list-container2 h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Georgia';
  }

  /* Add more styles for smaller screens if needed */
}

/* Larger screens (desktop) styles */
@media only screen and (min-width: 601px) {
  .selected-players-container,
  .game-list-container,
  .game-list-container2 {
    width: 36%; /* Adjust the width for larger screens */
    margin-left: 17%; /* Center the containers on larger screens */
  }

  /* Add styles specific to larger screens if needed */
}

/* Add more media queries for different screen sizes if needed */

/* Add the rest of your existing styles here */
